{% load static %}


          <div class="question">
            <div class="row">
              <div class="col-2">
                <div class ="profilephoto">
                  <img src="../static/img/спящий.JPG" alt="..."/>
                </div>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="btnradio1" id="btnradio3" autocomplete="off">
                <label class="btn btn-outline-light like-btn" for="btnradio3">&#x2764;&#xfe0f;</label>

                <input type="radio" class="btn-check like-btn" name="btnradio1" id="btnradio4" autocomplete="off">
                <label class="btn btn-outline-light like-btn" for="btnradio4">💔</label>
              </div>
              </div>


              <div class="col-10">
                <h4 class="question-title">Ответ</h4>
                <div class=""><p>
                {{ answer.text }}
                </p></div>

                  <div class="tags">
                  <div class="form-check">

  <input class="form-check-input" type="checkbox" value="" >
  <label class="form-check-label" for="flexCheckDefault">
    Верный ответ
  </label>
                  </div>
</div>

                </div>
          </div>
        </div>